@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
$white: #ffffff;
$dark-grey: #555555;
$light-grey: #f8f8f8;

.general {
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
}
.hidden-menu-wrapper {
  display: none;
}

.hidden-menu-list {
  display: block;
  position: fixed;
  padding: 10px;
  margin: 0;
  width: 190px;
  background-color: #ecedf2;
  transition: left 0.4s; /*Замедление выдвижения слева*/
  left: -210px; /*Скрыть меню слева*/
  z-index: 2;
}
 .hidden-menu-link {
  font-family: Montserrat;
  font-size: 16px;
  color: #282828;
  padding: 5px 12px;
  text-decoration: none;
  line-height: 1.7em;
    &:hover{
      color: #a5342b;
      cursor: pointer;
      font-weight: 900;
    }
}
.hidden-menu-list-ticker {
  display: none;  /*Скрыть checkbox*/
}
.hidden-menu-button { /*Положение кнопки*/
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 35px;
}

.hidden-menu-button span { /*Редактировать вид общего span, как дочернего hidden-menu__button*/
  display: block;
  height: 5px;
  background-color: #626d80;
  margin: 5px 0 0;
  position: relative;
}
.hidden-menu-list-ticker:checked ~ .hidden-menu-button{ /*При нажатии определяет, на сколько изображение меню сдвинется влево*/
  left: 160px;
}
.hidden-menu-list-ticker:checked ~ .hidden-menu-list {
  left: 0;
}
.hidden-menu-list-ticker:checked ~ .hidden-menu-button .hidden-menu-first-line {
  transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-list-ticker:checked ~ .hidden-menu-button .hidden-menu-second-line { /*При нажатии скрывает среднюю линию*/
  opacity: 0;
}
.hidden-menu-list-ticker:checked ~ .hidden-menu-button .hidden-menu-third-line {
  transform: rotate(-45deg);
  top: -10px;
}

header {
  width: 100%;
  height: 600px;
  background: url(../images/HomeBackground.png) no-repeat;
  background-size: cover;
}
.header-up {
  margin: 0 auto;
  width: 80%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start {
  color: $white;
  font-family: Montserrat;
  font-weight: bold;
}
.header-nav {
  @extend .start;
  font-weight: normal;
  padding-left: 20px;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    color: #e49b95;
    font-weight: 700;
    cursor: pointer;
  }
}
.header-block {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-title {
  font-family: Montserrat;
  font-size: 48px;
  text-transform: uppercase;
  color: $white;
  padding-bottom: 30px;
  text-align: center;
}
.header-text {
  font-family: RobotoSlab;
  font-size: 20px;
  color: $white;
  padding-bottom: 50px;
}
.button {
  font-family: Montserrat;
  font-size: 17px;
  text-transform: uppercase;
  color: $white;
  padding: 10px 25px;
  border-radius: 2px;
  border: 1px solid $white;
  background: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(255,0,0,0.5);
  color: white;
}
.heading {
  @extend .header-block;
  min-height: 100px;
}
h3 {
  font-family: Montserrat;
  font-size: 20px;
  color: $dark-grey;
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  color: $dark-grey;
  border: 1px solid $dark-grey;
  width: 50px;
}
.heading-text {
  font-family: RobotoSlab;
  font-size: 15px;
  color: $dark-grey;
}
.services {
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.services-box {
  width: 29%;
}
.icon {
  width: 50px;
}
h4 {
  @extend h3;
  font-size: 13px;
  padding: 20px;
}
.services-text {
  @extend .heading-text;
  line-height: 1.5em;
  font-size: 14px;
}
.about {
  width: 100%;
  min-height: 585px;
  background-color: $light-grey;
}
.about-box {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.about-text {
  @extend .heading-text;
  width: 50%;
  line-height: 1.4em;
  font-size: 14px;
}
.padding-right-15 {
  padding-right: 15px;
}
.about-photo {
  max-width: 1200px;
  margin: 0 auto;
}
.about-us {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}
.photo {
  width: 270px;
  height: 270px;
}
.cover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  height: 270px;
}
.cover-link {
  display: flex;
  justify-content: center;
  padding: 200px 0 20px 0;
}
.padding-link {
  padding: 5px 5px 5px 5px;
  &:hover {
    background-color: rgba(255,0,0,0.5);
  }
}
.item {
  position: relative;
  &:hover {
    .cover {
      display: block;
      cursor: pointer;
    }
  }
}
.about-subtitle {
  @extend h4;
  padding-bottom: 15px;
  text-align: center;
}
.about-subtext {
  @extend .heading-text;
  text-align: center;
}
.latest-works {
  @extend .about-photo;
  min-height: 1150px;
}
.works-nav {
  color: $dark-grey;
  text-decoration: none;
  font-family: RobotoSlab;
  font-size: 16px;
  padding-left: 10px;
   &:hover {
     color: red;
   }
}
.portfolio {
  max-width: 1200px;
  min-height: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.portfolio-image {
  width: 370px;
  height: 370px;
  object-fit: cover;
}
.cover-portfolio {
  @extend .cover;
  background-color: rgba(255,0,0,0.5);
  height: 370px;
}
.text-portfolio-name {
  font-size: 16px;
  font-family: Montserrat;
  color: $white;
  font-weight: bold;
}
.text-portfolio-surname {
 font-size: 15px;
 font-family: RobotoSlab;
 color: $white;
}
.symbol {
  font-size: 30px;
}
.button-portfolio {
  @extend .button;
  background-color: white;
  color: red;
  outline: inherit;
  margin-top: 20px;
}
.hover-portfolio-list {
  text-align: center;
  line-height: 2em;
  padding: 100px 0 50px 0;
}
section {
  width: 100%;
  min-height: 400px;
  background: url(../images/bckgr2.png) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.section-text {
  font-family: RobotoSlab;
  color: $white;
  font-size: 25px;
  width: 30%;
  line-height: 1.5em;
}
.button-section {
  @extend .button;
  margin-top: 40px;
}
.block-posts {
  max-width: 1200px;
  min-height: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.posts-background-first {
  width: 35%;
  height: 250px;
  background-size: cover;
  background: url(../images/ideas1.png) no-repeat center;
}
.posts-background-second {
  @extend .posts-background-first;
  background: url(../images/ideas2.png) no-repeat;
  background-size: cover;
}
.block-posts-right {
  width: 60%;
}
.wrapper {
  display: flex;
}
.date {
  width: 50px;
  height: 50px;
  border: 2px solid $dark-grey;
  @extend h3;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.date-number {
  font-size: 20px;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  line-height: 1.5em;
}
.wrap-title {
  font-size: 12px;
}
.italic {
  font-style: italic;
}
.posts-text {
  @extend .heading-text;
  line-height: 1.5em;
  padding: 20px 0 20px 0;
  font-size: 13px;
}
.read-more {
  @extend .works-nav;
  padding: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  &:hover {
    color: #c44637;
  }
}
.wrap {
  &:hover {
    h3, p {
    color: #c44637;
    cursor: pointer;
    }
  }
}
.posts-line {
  width: 75%;
  border: 1px solid $light-grey;
  margin-bottom: 25px;
}
aside {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
}
.box-brands {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.aside-image {
  width: 80px;
}
.aside-text {
  width: 50%;
  margin-top: 30px;
  font-family: RobotoSlab;
  font-size: 15px;
  color: $dark-grey;
  font-style: italic;
  text-align: center;
  line-height: 2em;
}
.aside-subtext {
  @extend .aside-text;
  font-style: normal;
}
.personal-block {
  max-width: 1200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.personal-boxleft {
  width: 25%;
}
.perconal-list {
  list-style-image: url(../images/pers1.png);
  font-family: Montserrat;
  font-size: 14px;
  color: $dark-grey;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px 0 6px 0;
}
.next-list {
  @extend .perconal-list;
  list-style-image: url(../images/pers2.png);
}
.next-list-second {
  @extend .perconal-list;
  list-style-image: url(../images/pers3.png);
}
.personal-text {
  font-family: RobotoSlab;
  font-size: 12px;
  color: $dark-grey;
  padding-top: 10px;
}
form {
  width: 55%;
  min-height: 245px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
input {
  width: 300px;
  height: 35px;
  padding-left: 8px;
  border: 1px solid $dark-grey;
}
input:focus {
  outline: none;
  border: 1px solid #c0301c;
}
::-webkit-input-placeholder {
  font-family: RobotoSlab;
  font-size: 9px;
  color: $dark-grey;
}
textarea {
  width: 96%;
  padding-top: 8px;
  padding-left: 5px;
  border: 1px solid $dark-grey;
}
textarea:focus {
  @extend input:focus;
}
.form-button-text {
  width: 96.5%;
  display: flex;
  margin-top: 5px;
  align-items: center;
}
.button-personal {
  font-family: RobotoSlab;
  font-size: 12px;
  text-transform: uppercase;
  color: $dark-grey;
  padding: 10px 25px;
  border: 1px solid $dark-grey;
  background: none;
  cursor: pointer;
}
.button-personal:hover {
  background-color: rgba(255,0,0,0.5);
}
.contact-text {
  font-family: RobotoSlab;
  font-size: 12px;
  color: $dark-grey;
  padding-left: 15px;
}
.red {
  color: #c0301c;
}
footer {
  width: 100%;
  height: 200px;
  background-color: #c0301c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer-list {
  width: 15%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.white {
  border: 1px solid white;
}
.footer-text {
  font-family: RobotoSlab;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  margin-top: 15px;
}
@media screen and (max-width: 700px) {
  .general {
    width: 100%;
  }
  .hidden-menu-wrapper {
    display: block;
  }
  nav {
    display: none;
  }
  .header-nav {
    font-weight: normal;
    padding-left: 20px;
    text-decoration: none;
    padding-top: 5px;
  }
  .header-title {
    font-size: 30px;
  }
  .header-text {
    font-size: 15px;
  }
  .heading-text, .services-text, .about-text, .about-subtext, .posts-text {
    font-size: 11px;
  }
  .portfolio-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .cover-portfolio {
    background-color: rgba(255,0,0,0.5);
    height: 300px;
  }
  .block-posts {
    width: 100%;
    min-height: 270px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
  }
  .services {
    flex-wrap: wrap;
    width: 95%;
  }
  .services-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .personal-block {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .personal-boxleft {
    width: 50%;
    margin-bottom: 20px;
  }
form {
  width: 75%;
  margin-bottom: 20px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
  .personal-boxright {
    width: 75%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .about-text {
    width: 40%;
    line-height: 1.4em;
  }
  .aside-text {
    width: 82%;
    margin-top: 30px;
    font-family: RobotoSlab;
    font-size: 15px;
    color: $dark-grey;
    font-style: italic;
    text-align: center;
    line-height: 2em;
  }
  .section-text {
    font-family: RobotoSlab;
    color: $white;
    font-size: 25px;
    width: 60%;
    line-height: 1.5em;
  }
  .button-personal {
    padding: 3px 25px;
  }
  .button-personal-and-text {
    margin-left: 0;
    display: flex;
    align-items: center;
  }
  .portfolio {
    min-height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .about-us {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .box-brands {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
  }
  .item-content {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .general {
    width: 100%;
  }
  .services {
   width: 95%;
  }
  .about-text {
   width: 45%;
  }
  .about-photo {
    width: 80%;
  }
  .latest-works {
    width: 98%;
  }
  form {
    min-height: 335px;
  }
  .item-content {
    margin-bottom: 20px;
  }
}
