@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
.general {
  width: 100%;
  margin: 0 auto; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px; }

.hidden-menu-wrapper {
  display: none; }

.hidden-menu-list {
  display: block;
  position: fixed;
  padding: 10px;
  margin: 0;
  width: 190px;
  background-color: #ecedf2;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  /*Замедление выдвижения слева*/
  left: -210px;
  /*Скрыть меню слева*/
  z-index: 2; }

.hidden-menu-link {
  font-family: Montserrat;
  font-size: 16px;
  color: #282828;
  padding: 5px 12px;
  text-decoration: none;
  line-height: 1.7em; }
  .hidden-menu-link:hover {
    color: #a5342b;
    cursor: pointer;
    font-weight: 900; }

.hidden-menu-list-ticker {
  display: none;
  /*Скрыть checkbox*/ }

.hidden-menu-button {
  /*Положение кнопки*/
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  -webkit-transition: left .23s;
  transition: left .23s;
  z-index: 3;
  width: 35px; }

.hidden-menu-button span {
  /*Редактировать вид общего span, как дочернего hidden-menu__button*/
  display: block;
  height: 5px;
  background-color: #626d80;
  margin: 5px 0 0;
  position: relative; }

.hidden-menu-list-ticker:checked ~ .hidden-menu-button {
  /*При нажатии определяет, на сколько изображение меню сдвинется влево*/
  left: 160px; }

.hidden-menu-list-ticker:checked ~ .hidden-menu-list {
  left: 0; }

.hidden-menu-list-ticker:checked ~ .hidden-menu-button .hidden-menu-first-line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px; }

.hidden-menu-list-ticker:checked ~ .hidden-menu-button .hidden-menu-second-line {
  /*При нажатии скрывает среднюю линию*/
  opacity: 0; }

.hidden-menu-list-ticker:checked ~ .hidden-menu-button .hidden-menu-third-line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -10px; }

header {
  width: 100%;
  height: 600px;
  background: url(../images/HomeBackground.png) no-repeat;
  background-size: cover; }

.header-up {
  margin: 0 auto;
  width: 80%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.start, .header-nav {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: bold; }

.header-nav {
  font-weight: normal;
  padding-left: 20px;
  text-decoration: none;
  font-size: 14px; }
  .header-nav:hover {
    color: #e49b95;
    font-weight: 700;
    cursor: pointer; }

.header-block, .heading {
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-title {
  font-family: Montserrat;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
  text-align: center; }

.header-text {
  font-family: RobotoSlab;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 50px; }

.button, .button-portfolio, .button-section {
  font-family: Montserrat;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background: none;
  cursor: pointer; }

.button:hover, .button-portfolio:hover, .button-section:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white; }

.heading {
  min-height: 100px; }

h3, h4, .about-subtitle, .date {
  font-family: Montserrat;
  font-size: 20px;
  color: #555555;
  text-transform: uppercase;
  font-weight: bold; }

hr {
  color: #555555;
  border: 1px solid #555555;
  width: 50px; }

.heading-text, .services-text, .about-text, .about-subtext, .posts-text {
  font-family: RobotoSlab;
  font-size: 15px;
  color: #555555; }

.services {
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.services-box {
  width: 29%; }

.icon {
  width: 50px; }

h4, .about-subtitle {
  font-size: 13px;
  padding: 20px; }

.services-text {
  line-height: 1.5em;
  font-size: 14px; }

.about {
  width: 100%;
  min-height: 585px;
  background-color: #f8f8f8; }

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto; }

.about-text {
  width: 50%;
  line-height: 1.4em;
  font-size: 14px; }

.padding-right-15 {
  padding-right: 15px; }

.about-photo, .latest-works {
  max-width: 1200px;
  margin: 0 auto; }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px; }

.photo {
  width: 270px;
  height: 270px; }

.cover, .cover-portfolio {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 270px; }

.cover-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0 20px 0; }

.padding-link {
  padding: 5px 5px 5px 5px; }
  .padding-link:hover {
    background-color: rgba(255, 0, 0, 0.5); }

.item {
  position: relative; }
  .item:hover .cover, .item:hover .cover-portfolio {
    display: block;
    cursor: pointer; }

.about-subtitle {
  padding-bottom: 15px;
  text-align: center; }

.about-subtext {
  text-align: center; }

.latest-works {
  min-height: 1150px; }

.works-nav, .read-more {
  color: #555555;
  text-decoration: none;
  font-family: RobotoSlab;
  font-size: 16px;
  padding-left: 10px; }
  .works-nav:hover, .read-more:hover {
    color: red; }

.portfolio {
  max-width: 1200px;
  min-height: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.portfolio-image {
  width: 370px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover; }

.cover-portfolio {
  background-color: rgba(255, 0, 0, 0.5);
  height: 370px; }

.text-portfolio-name {
  font-size: 16px;
  font-family: Montserrat;
  color: #ffffff;
  font-weight: bold; }

.text-portfolio-surname {
  font-size: 15px;
  font-family: RobotoSlab;
  color: #ffffff; }

.symbol {
  font-size: 30px; }

.button-portfolio {
  background-color: white;
  color: red;
  outline: inherit;
  margin-top: 20px; }

.hover-portfolio-list {
  text-align: center;
  line-height: 2em;
  padding: 100px 0 50px 0; }

section {
  width: 100%;
  min-height: 400px;
  background: url(../images/bckgr2.png) center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto; }

.section-text {
  font-family: RobotoSlab;
  color: #ffffff;
  font-size: 25px;
  width: 30%;
  line-height: 1.5em; }

.button-section {
  margin-top: 40px; }

.block-posts {
  max-width: 1200px;
  min-height: 270px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.posts-background-first, .posts-background-second {
  width: 35%;
  height: 250px;
  background-size: cover;
  background: url(../images/ideas1.png) no-repeat center; }

.posts-background-second {
  background: url(../images/ideas2.png) no-repeat;
  background-size: cover; }

.block-posts-right {
  width: 60%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.date {
  width: 50px;
  height: 50px;
  border: 2px solid #555555;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.date-number {
  font-size: 20px; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  line-height: 1.5em; }

.wrap-title {
  font-size: 12px; }

.italic {
  font-style: italic; }

.posts-text {
  line-height: 1.5em;
  padding: 20px 0 20px 0;
  font-size: 13px; }

.read-more {
  padding: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold; }
  .read-more:hover {
    color: #c44637; }

.wrap:hover h3, .wrap:hover h4, .wrap:hover .about-subtitle, .wrap:hover .date, .wrap:hover p {
  color: #c44637;
  cursor: pointer; }

.posts-line {
  width: 75%;
  border: 1px solid #f8f8f8;
  margin-bottom: 25px; }

aside {
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8; }

.box-brands {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.aside-image {
  width: 80px; }

.aside-text, .aside-subtext {
  width: 50%;
  margin-top: 30px;
  font-family: RobotoSlab;
  font-size: 15px;
  color: #555555;
  font-style: italic;
  text-align: center;
  line-height: 2em; }

.aside-subtext {
  font-style: normal; }

.personal-block {
  max-width: 1200px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.personal-boxleft {
  width: 25%; }

.perconal-list, .next-list, .next-list-second {
  list-style-image: url(../images/pers1.png);
  font-family: Montserrat;
  font-size: 14px;
  color: #555555;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px 0 6px 0; }

.next-list {
  list-style-image: url(../images/pers2.png); }

.next-list-second {
  list-style-image: url(../images/pers3.png); }

.personal-text {
  font-family: RobotoSlab;
  font-size: 12px;
  color: #555555;
  padding-top: 10px; }

form {
  width: 55%;
  min-height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

input {
  width: 300px;
  height: 35px;
  padding-left: 8px;
  border: 1px solid #555555; }

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #c0301c; }

::-webkit-input-placeholder {
  font-family: RobotoSlab;
  font-size: 9px;
  color: #555555; }

textarea {
  width: 96%;
  padding-top: 8px;
  padding-left: 5px;
  border: 1px solid #555555; }

.form-button-text {
  width: 96.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.button-personal {
  font-family: RobotoSlab;
  font-size: 12px;
  text-transform: uppercase;
  color: #555555;
  padding: 10px 25px;
  border: 1px solid #555555;
  background: none;
  cursor: pointer; }

.button-personal:hover {
  background-color: rgba(255, 0, 0, 0.5); }

.contact-text {
  font-family: RobotoSlab;
  font-size: 12px;
  color: #555555;
  padding-left: 15px; }

.red {
  color: #c0301c; }

footer {
  width: 100%;
  height: 200px;
  background-color: #c0301c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px; }

.footer-list {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px; }

.white {
  border: 1px solid white; }

.footer-text {
  font-family: RobotoSlab;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  margin-top: 15px; }

@media screen and (max-width: 700px) {
  .general {
    width: 100%; }

  .hidden-menu-wrapper {
    display: block; }

  nav {
    display: none; }

  .header-nav {
    font-weight: normal;
    padding-left: 20px;
    text-decoration: none;
    padding-top: 5px; }

  .header-title {
    font-size: 30px; }

  .header-text {
    font-size: 15px; }

  .heading-text, .services-text, .about-text, .about-subtext, .posts-text, .services-text, .about-text, .about-subtext, .posts-text {
    font-size: 11px; }

  .portfolio-image {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover; }

  .cover-portfolio {
    background-color: rgba(255, 0, 0, 0.5);
    height: 300px; }

  .block-posts {
    width: 100%;
    min-height: 270px;
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%; }

  .services-box {
    width: 100%;
    margin-bottom: 10px; }

  .personal-block {
    width: 100%;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .personal-boxleft {
    width: 50%;
    margin-bottom: 20px; }

  form {
    width: 75%;
    margin-bottom: 20px;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }

  .personal-boxright {
    width: 75%;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .about-text {
    width: 40%;
    line-height: 1.4em; }

  .aside-text, .aside-subtext {
    width: 82%;
    margin-top: 30px;
    font-family: RobotoSlab;
    font-size: 15px;
    color: #555555;
    font-style: italic;
    text-align: center;
    line-height: 2em; }

  .section-text {
    font-family: RobotoSlab;
    color: #ffffff;
    font-size: 25px;
    width: 60%;
    line-height: 1.5em; }

  .button-personal {
    padding: 3px 25px; }

  .button-personal-and-text {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .portfolio {
    min-height: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: justify;
        align-content: space-between; }

  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px; }

  .box-brands {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px; }

  .item-content {
    margin-bottom: 20px; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .general {
    width: 100%; }

  .services {
    width: 95%; }

  .about-text {
    width: 45%; }

  .about-photo, .latest-works {
    width: 80%; }

  .latest-works {
    width: 98%; }

  form {
    min-height: 335px; }

  .item-content {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */