@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet');
.general {
  width: 100%;
  margin: 0 auto;
  font-family: Open Sans;
}
.top-block {
  min-height: 750px;
  width: 100%;
  background: url(../images/man.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.logo {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 19px;
  border: 4px solid white;
  position: relative;
  float: left;
}
.circle-inside {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  border: 4px solid white;
  position: absolute;
  top: 6px;
  left: 6.5px;
}
  .take-text {
    color: white;
    padding-top: 10px;
    padding-left: 45px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
  }
.picture-perfect {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: center;
  clear: both;
  width: 80%;
  margin: 0 auto;
}
/***Заголовки***/
h1 {
  font-size: 60px;
  color: white;
}
.start-title {  /*Заголовок для второго блока*/
  font-size: 35px;
  font-weight: bold;
  padding-top: 40px;
  color: #313434; /*Темно-серый цвет*/
}
.title-white {
  padding-top: 20px; /*Заголовок для цветного блока*/
  padding-left: 20px;
  color: white;
}
.details-title { /*Большой заголовок для четырех блоков*/
  font-size: 35px;
  font-weight: bold;
  padding-top: 30px;
  color: #313434; /*Темно-серый цвет*/
}
h4 {
  font-size: 13px; /*Заголовки для четырех блоков, идущих в ряд, после цветного блока*/
  color: #313434;
  font-weight: bold;
  padding-top: 25px;
}
.car-image-title { /*Заголовок для блока с машиной*/
  font-size: 40px;
  color: white;
  width: 360px;
}
.title-green-block { /*Заголовок для большого зеленого блока*/
  font-size: 35px;
  font-weight: normal;
  padding-top: 35px;
  margin-left: 120px;
  color: white;
}
.green-block-subtitle {  /*Подзаголовок для большого зеленого блока*/
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding-top: 25px;
}
.title-buy {
  font-size: 30px;
  padding-top: 20px; /*Заголовок для buy блока*/
  color: #313434;
  font-weight: bold;
}
.footer-title { /*Первый заголовок для footer*/
  font-size: 13px;
  color: white;
  padding-bottom: 15px;
}
.foter-subtitle { /*Заголовок маленького блока для footer*/
  font-size: 13px;
  color: white;
}
/*****************/

.picture-perfect-text {
  font-size: 13px;
  width: 40%;
  color: white;
  padding-top: 15px;
  line-height: 1.5em;
}
.iphone-image { /*Выровнять телефон*/
  width: 380px;
  position: absolute;
  top: 35%;
  right: 20%;
}
.block-second { /*Блок с текстом после изображеня телефона*/
  margin: 0 auto;
  min-height: 300px;
  width: 80%;
  max-width: 1200px;
  margin-bottom: 20px;
}
.clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
.start-something-new-left-block {
  float: left;
  width: 48%;
}
.start-something-text {
  font-size: 14px;
  color: #959595;
  padding-top: 15px;
  line-height: 1.5em;
}
.start-something-new-right-block {
  width: 48%;
  float: right;
  padding-top: 130px;
}
.color-block {
  width: 1080px;
  height: 300px;
  margin: 0 auto;
}
.color-block-right {
  max-width: 540px;
  height: 300px;
  float: right;
}
.purple-block {
  max-width: 270px;
  height: 150px;
  background-color: #bd8cbf;
  float: right;
}
.color-block-text {
  font-size: 10px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
  line-height: 1.5em;
}
.color-block-text-second {
  font-size: 10px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  line-height: 1.5em;
}
a {
  color: white;
  font-size: 13px;
  padding-left: 20px;
  text-decoration: none;
}
.sun-photo {
  max-width: 270px;
  height: 150px;
  background-image: url(../images/sun.jpg);
  float: right;
}
.girl {
  max-width: 270px;
  height: 150px;
  background-image: url(../images/girl.jpg);
  float: right;
}
.green-block {
  max-width: 270px;
  height: 150px;
  background-color: #82ca9c;
  float: right;
}
.color-block-left {
  max-width: 540px;
  height: 300px;
  float: right;
}
.blue-block {
  max-width: 270px;
  height: 150px;
  background-color: #615f7d;
  float: right;
}
.pink-block {
  max-width: 270px;
  height: 150px;
  background-color: #f5989d;
  float: right;
}
.white {
  width: 540px;
  height: 150px;
  background-image: url(../images/white2.jpg);
  float: right;
}
.details {
  margin: 0 auto;
  min-height: 370px;
  width: 85%;
  max-width: 1200px;
}
.details-block-left {
  float: left;
  width: 22.5%;
}
.details-block-next {
  float: left;
  margin-left: 30px;
  width: 22.5%;
}
.block-details-left-text {
  font-size: 14px;
  color: #959595;
  padding-top: 15px;
  line-height: 1.5em;
}
.block-details-next-text {
  font-size: 14px;
  color: #959595;
  padding-top: 15px;
  line-height: 1.5em;
}
.car-block {
  background: url(../images/car.jpg) center no-repeat;
  background-size: cover;
  min-height: 600px;
}
.more-power-block {
  padding-left: 150px;
  padding-top: 300px;
  width: 350px;
}
.more-power-text {
  font-size: 13px;
  color: white;
  padding-top: 15px;
  line-height: 1.5em;
  padding-bottom: 25px;
}
.car-block-href {  /*изменить положение относительной ссылки в блоке с машиной*/
  padding-left: 0;
}
.green-block-after-car {
min-height: 400px;
background-color: #82ca9c; /*Зеленый цвет блока*/
}
.green-block-first { /*Первый блок слева в большом зеленом блоке*/
  margin-left: 120px;
  padding-top: 25px;
  float: left;
  max-width: 25%;
  margin-right: 30px;
}
.green-block-text {
  font-size: 14px;
  color: white;
  padding-top: 25px;
  line-height: 1.7em;
}
.green-block-next {  /*Следующий блок в большом зеленом блоке*/
  padding-top: 25px;
  float: left;
  max-width: 25%;
  margin-right: 30px;
}
.block-buy { /*Блок с наведением*/
  min-height: 350px;
  margin: 0 auto;
  width: 65%;
  max-width: 1200px;
  }
.wrapper-grey {
  background-color: #f6f7fa;
}
.block-buy-first { /*Первый блок с наведением*/
  margin-top: 40px;
  padding: 20px;
  max-width: 40%;
  min-height: 200px;
  float: left;
  cursor: pointer;
}
.block-buy-first:hover .legasy {
  background-color: #bd8cbf;
}
.legasy {
  font-size: 10px;
  font-weight: bold;
  width: 38px;
  color: white;
  border: 1px solid #e1e1e1;
  padding: 5px;
  background-color: #e1e1e1;
  border-radius: 5px;
}
.legasy:hover {
  background-color: #e1e1e1;
}
.buy-text {
  font-size: 14px;
  color: #959595;
  line-height: 1.7em;
  padding-top: 20px;
}
.button-buy {
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: #82ca9c; /*Зеленый цвет кнопки*/
  border: 1px solid #82ca9c;
  padding: 7px;
  margin-top: 15px;
  cursor: pointer;
}
.button-buy:hover {
  background-color: #533eae;
  border: none;
}
.button-buy:focus {
  outline: none;
  border: none;
}
.iphone-windows {   /*Для картикок iphome и windows*/
 padding-top: 15px;
}
.images {
  display: inline-block; /*Выровнять в ряд iphome и windows*/
  padding-right: 5px;
}
.block-buy-first:hover {
  background-color: white;
}
.block-buy-second { /*Второй блок с наведением*/
  margin-left: 40px;
  margin-top: 40px;
  padding: 20px;
  max-width: 40%;
  min-height: 200px;
  float: left;
  cursor: pointer;
}
.block-buy-second:hover .most-popular {
  background-color: #bd8cbf;
}
.block-buy-second:hover {
  background-color: white;
}
.image-icon {
  width: 15px;
}
.most-popular {
  font-size: 10px;
  font-weight: bold;
  width: 78px;
  color: white;
  border: 1px solid #e1e1e1;
  padding: 5px;
  background-color: #e1e1e1;
  border-radius: 5px;
}
footer {
  min-height: 360px;
  width: 75%;
  margin: 0 auto;
  max-width: 1200px;
  }
.footer-wrapper {
  background-color: #192431;
}
.block-footer-left {
  margin-top: 30px;
  max-width: 50%;
  min-height: 300px;
  float: left;
}
.get-in-text {
  font-size: 13px;
  color: white;
  line-height: 1.5em;
}
.small-block-footer {
  width: 150px;
  float: left;
}
.resourses {  /*Редактировать список для footer*/
  font-size: 13px;
  color: white;
  padding-top: 10px;
  line-height: 1.7em;
}
.block-footer-right {
  margin-top: 30px;
  max-width: 50%;
  min-height: 300px;
  float: right;
}
.input-footer {
  max-width: 350px;
  position: relative;
}
input {
  height: 35px;
  width: 210px;
  padding-left: 10px;
}
.button-footer {
  width: 40px;
  height: 41px;
  position: absolute;
  border: none;
  background-color: #82ca9c;
  color: white;
  cursor: pointer;
}
.button-footer:hover {
  background-color: #61a8ee;
}
.symbol {
  font-size: 20px;
}
.no-spam {
  padding-top: 25px;
  color: #57697f;
  font-size: 12px;
  line-height: 2em;
}
