@media screen and (max-width: 700px) {
.general {
  max-width: 700px;
}
.header {
  width: 90%;
}
.banner-image {
  margin-top: -60px;
}
.banner-image__laptop {
  max-width: 80%;
}
.banner__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 130px;
  width: 200px;
}
.form__input-enter{
  border-radius: 2px;
  border: none;
  min-height: 28px;
  max-width: 130px;
}
.form__button {
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  min-height: 30px;
  width: 167px;
}
.form_position {
  margin-top: 20px;
  padding: 0;
  width: 200px;
  text-align: center;
}
.form__input-enter {
  border-radius: 2px;
  border: 1px solid #709dca;
  min-height: 28px;
}
.services-block {
  width: 100%;
  margin: 10px auto;
}
.services_position {
  margin-top: 10px;
}
.block-about {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}
.box-about {
  width: 100%;
  min-height: 350px;
}
.block-price {
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  font-family: Lato;
}
.box-button {
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid #e7ad48;
  min-width: auto;
  min-height: 30px;
  font-size: 13px;
  font-family: Open Sans;
  color: white;
}
.pricing-block {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}
.box-price {
  width: auto;
  min-height: 305px;
  text-align: center;
  border: 1px solid #ccd5df;
}
.box-price__text {
  text-transform: uppercase;
  font-size: 10px;
  padding: 8px;
}
.block-works {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
.box-works {
  min-height: 200px;
  text-align: center;
  width: 23%;
}
.box-works__image-top {
  display: none;
}
.box-works__image-bottom {
display: none;
}
.box-works__image {
  padding-bottom: 0px;
  width: 50px;
  height: 43px;
}
.box-works__title {
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.box-button_space {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-clients-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 85%;
  justify-content: space-around;
  align-content: space-around;
  margin: auto;
  margin-top: 30px;
  min-height: 400px;
}
.box-clinets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  min-height: 180px;
}
.block-clinets {
  width: 100%;
  min-height: 1000px;
}
.box-clinets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 180px;
  border: 2px solid #ffbb42;
}
.block-map {
  width: 100%;
  min-height: 200px;
  background: url(../images/map.png) no-repeat;
  background-size: contain;
  margin: auto;
  text-align: center;
}
.block-map__circle-background {
  width: 100%;
  min-height: 350px;
  background: url(../images/circle.png) no-repeat center;
  background-size: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.block-map {
  width: 100%;
  min-height: 300px;
  background: url(../images/map.png) no-repeat;
  background-size: cover;
  margin: auto;
  text-align: center;
}
.footer__nav_position {
  margin-bottom: 20px;
  width: 90%;
}
.copyright__text {
  font-family: Open Sans;
  font-size: 10px;
  padding: 10px;
}
.nav__link {
  font-family: Lato;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8px;
  padding: 2px 10px;
}
.footer__nav_position {
  margin-bottom: 20px;
  text-align: center;
}
.box-price__text {
  text-transform: uppercase;
  font-size: 9px;
  padding: 8px;
}
.box-price__h2 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 13px;
}
